<h1>Movie List</h1>

<table class="table">
<% @movies.each do |movie| %>
  <tr>
    <td>
    <%= movie.name %>
    </td>
    <td>
    <%= movie.category %>
    </td>
    <td>
    <%= movie.rating %>
    </td>
    <td>
    <%= link_to "Show", movie_path(movie), :class => "btn btn-primary" %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'Add New Movie', new_movie_path %>