<h1>Movie List</h1>

<table class="table">
<% @movies.each do |movie| %>
  <tr>
    <td>
    <%= movie.name %>
    </td>
    <td>
    <%= movie.category %>
    </td>
    <td>
    <%= movie.rating %>
    </td>
    <td>
    <%= link_to "Detail", movie_path(movie), :class => "btn btn-primary" %>

    <%= link_to "Edit", edit_movie_path(movie), :class => "btn btn-primary" %>

    <%= link_to "Delete", movie_path(movie), :method => :delete, :class => "btn btn-primary" %>

    </td>
  </tr>
<% end %>
</table>

<%= paginate @movies %>

<%= link_to 'Add New Movie', new_movie_path %>