<h2><%= @movie.name %></h2>
<%=  simple_format @movie.category %>
<%=  simple_format @movie.rating.to_s %>
<%=  simple_format @movie.description %>

<p><%= link_to "Back to Movie List", movies_path, :class => "btn btn-primary" %></p>